.whole-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    text-align: center;
}

.tech-container {
    font-size: 6.5em;
    width: 4em;
    margin: 15px;
    padding: 25px;
    opacity: 0.93;
    border: 1.7px solid white;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
}

.tech-container:hover {
    border: 2.5px solid white;
    box-shadow: rgba(255, 255, 255, 1) 0px 3px 8px 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
}
