.profile-pic {
    max-width: 350px;
}

.description-container {
    margin-right: 200px;
    padding-top: 50px;
}

#about {
    background-color: #ffba49;
    height: 100vh;
    width: 100vw;
}
#projects {
    background-color: #20a39e;
    height: 100vh;
    width: 100vw;
}
#contact {
    background-color: #ef5b5b;
}
.nav {
    background-color: #a4a9ad;
}

.card {
    min-height: 300px;
}
.card-title {
    display: inline;
}
.card-icon {
    display: inline;
    position: absolute;
    right: 10px;
}

@media (max-width: 576px) {
    .description-container {
        min-width: 300px;
        margin-left: 40px;
    }
    .image-container {
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .card {
        margin-bottom: 20px;
    }
}
